---
import "../../styles/global.css";

import Layout from "../../layout/Layout.astro";
---

<Layout title="Paolo Vincent - About" current="about">
  <div class="hidden md:flex">
    <h1 class="font-main">About</h1>
    <div class="button_holder">
      <a href="/about/presentation" class="button">Presentation</a>
      <a href="/about/skills" class="button">Skills</a>
      <a href="/about/hobbies" class="button button-active">Hobbies</a>
    </div>
  </div>
  <div class="mb-2 md:hidden">
    <a href="/about" class="button"> &lt; About</a>
  </div>
  <div class="scroll_col">
    <h2>Hobbies</h2>
    <h3>Miniature painting</h3>
    <p>
      In 2024, I started collecting and painting <strong>Warhammer</strong> Age of
      Sigmar, a miniature wargame. Apart from playing the game, I really enjoy the
      building and paiting process.
    </p>
    <p>
      It helps with <strong>focus</strong>, <strong>creativity</strong> and <strong
        >determination</strong
      > to work on veeeeeery long projects, since painting a whole army can take
      hundreds of hours.
    </p>
    <div class="image_holder">
        <img class="image" src="/nagashanddraconith.jpg" alt="Two painted miniature warhammer models"> 
        <p class="image_desc">Nagash and the Revenant Draconith, my 2 biggest projects yet</p>
    </div>
    <h3>Sport</h3>
    <p>
      I go to the gym a few times a week, it’s another great activity for focus
      and determination and a <strong>healthy habit</strong> as well so it can’t
      hurt.
    </p>
    <p>
      When you spend a lot of time sitting in front of a computer on a daily
      basis, <strong>physical activity</strong> is really important.
    </p>
    <h3>Video Games</h3>
    <p>
      I don’t play as much as I used to, but I’m an avid <strong
        >soulsborne</strong
      > and
      <strong>souls-like</strong> player, generally love FROM SOFTWARE’s productions.
    </p>
    <p>
      <strong>Baldur’s Gate 3</strong> stole way too much time from me and I spent
      a lot as well on indies like Blasphemous, Valheim, Bokura, Moonlighter, etc.
    </p>
    <div class="image_holder">
        <img class="image" src="/BG3Avengers.PNG" alt="Screenshot of 4 players on Baldur's Gate 3"> 
        <p class="image_desc">My friends and I on Baldur's Gate 3</p>
    </div>
  </div>
  <div id="man" class="flex-grow"></div>
</Layout>

<script src="../../scripts/man.js"></script>
