---
import "../../styles/global.css";

import Layout from "../../layout/Layout.astro";
---

<Layout title="Paolo Vincent - About" current="about">
  <div class="hidden md:flex">
    <h1 class="font-main">About</h1>
    <div class="button_holder">
      <a id="presentation" href="/about/presentation" class="button button-active"
        >Presentation</a
      >
      <a href="/about/skills" class="button">Skills</a>
      <a href="/about/hobbies" class="button">Hobbies</a>
    </div>
  </div>
  <div class="mb-2 md:hidden">
    <a href="/about" class="button"> &lt; About</a>
  </div>
  <div>
    <h2>Presentation</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <h3>Test de H3</h3>
  </div>
  <div id="man" class="flex-grow"></div>
</Layout>

<script src="../../scripts/man.js"></script>