@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=UnifrakturCook:wght@700&display=swap');
@import "tailwindcss";

@theme {
    /* Colors : */
    --color-dark : rgb( 16, 16, 16 );
    --color-light : rgb( 255, 255, 255);
    --color-main : rgb( 115, 63, 153);
    /* Fonts */
    --font-main: UnifrakturCook, serif;
    --font-header: Grenze, serif;
    --font-common: Source Code Pro, sans-serif;

}

@layer base {
    * {
        @apply border-1 border-red-500;
    }
    body {
        @apply bg-dark text-light font-common h-screen flex flex-col;
    }
    main {
        @apply grid grid-cols-3 flex-grow gap-2 px-8 py-4 *:flex *:flex-col *:gap-2;
    }
    h1 {
        font-family: var(--font-main);
        font-size: var(--text-8xl);
        font-weight: var(--font-weight-bold);
    }
    h2 {
        font-family: var(--font-header);
        font-size: var(--text-5xl);
        font-weight: var(--font-weight-medium);
    }
    h3 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
    }
}

@layer components {
    .button {
        @apply flex w-full font-medium text-5xl uppercase hover:bg-light hover:text-dark active:bg-main;
    }
}