@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=UnifrakturCook:wght@700&display=swap');
@import "tailwindcss";

@theme {
    /* Colors : */
    --color-dark : rgb( 16, 16, 16 );
    --color-light : rgb( 255, 255, 255);
    --color-main : rgb( 115, 63, 153);
    /* Fonts */
    --font-main: UnifrakturCook, serif;
    --font-header: Grenze, serif;
    --font-common: Source Code Pro, sans-serif;

}

@layer base {
    * {
        /* @apply border-1 border-red-500; */
        @apply transition-all duration-100;
    }
    body {
        @apply bg-dark text-light font-common font-normal text-sm 2xl:text-base h-screen flex flex-col;
    }
    main {
        @apply flex flex-col min-h-fit md:min-h-auto h-screen md:overflow-hidden md:grid md:grid-cols-3 gap-2 px-4 md:px-8 py-4 *:flex *:flex-col *:gap-4;
    }
    h1 {
        @apply font-main text-5xl lg:text-6xl xl:text-7xl font-bold mb-2;
    }
    h2 {
        @apply font-header text-4xl md:text-3xl lg:text-4xl font-medium;
    }
    h3 {
        @apply text-lg md:text-xl lg:text-2xl font-bold;
    }
}

@layer components {
    .button {
        @apply flex w-full p-1 md:p-0 font-medium border-1 md:border-0 border-light rounded-md md:rounded-none text-2xl md:text-3xl lg:text-4xl uppercase hover:bg-light hover:text-dark active:bg-main active:border-main;
    }
    .button-active {
        @apply bg-main border-0 text-dark hover:bg-main;
    }
    .button_holder {
        @apply flex flex-col gap-2 md:gap-2 lg:gap-3;
    }
    .svg_holder {
        @apply flex flex-wrap gap-8 my-2;
    }
    .svg {
        @apply md:w-[38px] md:h-[38px] lg:w-[42px] lg:h-[42px] xl:w-[58px] xl:h-[58px] flex justify-center align-middle;
    }
    .scroll_col {
        @apply md:overflow-y-scroll!;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scroll_col::-webkit-scrollbar {
        display: none;
    }
    .image_holder {
        @apply flex flex-col gap-2 snap-center md:snap-align-none min-w-full md:min-w-auto
    }
    .image {
        @apply border-2 border-main object-cover
    }
    .image_desc {
        @apply text-center text-xs font-light
    }
    .carousel {
        @apply flex-row md:flex-col snap-x snap-mandatory md:snap-none overflow-x-scroll md:overflow-y-scroll! min-h-fit md:min-h-auto -mx-4 px-8 md:mx-0 md:px-0;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .carousel::-webkit-scrollbar {
        display: none;
    }
}