---
import "../../styles/global.css";

import Layout from "../../layout/Layout.astro";
---

<Layout title="Paolo Vincent - Contact" current="contact">
  <div>
    <h1 class="font-main">Contact</h1>
    <div class="flex flex-col gap-4">
      <a href="/contact/linkedin" class="button">LinkedIn</a>
      <a href="/contact/github" class="button">GitHub</a>
      <a href="/contact/cv" class="button">CV</a>
      <a href="mailto:paolo.vincent.pro@gmail.com" class="button">Email</a>
    </div>
  </div>
  <div></div>
  <div></div>
</Layout>
