---
import "../styles/global.css";

const { link, content } = Astro.props;
---

<a href={link} class="flex w-full font-medium text-5xl uppercase hover:bg-light hover:text-dark active:bg-main">
  {content}
</a>
