---
import "../styles/global.css";
---

<footer class="flex gap-2 px-8 py-2 text-xl *:flex *:bg-main *:text-dark *:uppercase *:w-full">
  <div>Paolo Vincent</div>
  <div>Creative Full Stack Web Developer</div>
  <a href="/legal" class="hover:bg-light active:bg-main">Legale Notice</a>
</footer>
