<a
  href="/"
  class="flex gap-0 border-2 border-main rounded-sm md:text-lg lg:text-2xl hover:bg-light hover:text-dark transition-none"
>
  <div class="p-1 bg-main font-bold text-light">EN</div>
  <div class="p-1">FR</div>
</a>
