---
import "../../styles/global.css";

import Layout from "../../layout/Layout.astro";
---

<Layout title="Paolo Vincent - Work" current="work">
  <div>
    <h1 class="font-main">Work</h1>
    <div class="button_holder">
      <a href="/work/hivejam" class="button">Hive Jam</a>
      <a href="/work/modulo" class="button">Módulo</a>
      <a href="/work/archeve" class="button">ArchEVE</a>
      <a href="/work/jams" class="button">Jams</a>
      <a href="/work/jiks" class="button">JIKS</a>
    </div>
  </div>
  <div></div>
  <div></div>
</Layout>
