---
import "../../styles/global.css";

import Layout from "../../layout/Layout.astro";

import { getWorkList } from "../../../backend/backend.js";

const workList = await getWorkList();
---

<Layout title="Paolo Vincent - Work" current="work">
  <div>
    <h1 class="font-main">Work</h1>
    <div class="button_holder">
      {workList.map(d => 
        <a href=`/work/${d.id}` class="button">{d.Title}</a>
      )}
    </div>
  </div>
  <div></div>
  <div></div>
</Layout>
